@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

::-moz-selection {
  background: #7F60FD;
  color: #FFF; }

::selection {
  background: #7F60FD;
  color: #FFF; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

input[type=submit] {
  padding: 0.5rem 1rem;
  background-color: #FFF;
  border: 0.1rem solid #B5B5B5;
  cursor: pointer;
  border-radius: .2rem; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: #B5B5B5; }

.btn--benzinska {
  float: right;
  background-color: #7F60FD;
  border: none;
  color: white;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  cursor: pointer;
  border-radius: 0.3rem;
  width: 18rem;
  transition: background-color 0.2s;
  text-align: left; }
  @media only screen and (max-width: 60.625em) {
    .btn--benzinska {
      margin: 0 1rem; } }
  @media only screen and (max-width: 36em) {
    .btn--benzinska {
      padding: 4rem 0;
      width: 25rem;
      float: none;
      margin: 0;
      margin-top: 15rem;
      font-weight: 700;
      font-size: 2.4rem;
      background-color: #3A4049; } }
  .btn--benzinska img {
    float: left;
    width: 1.6rem;
    margin: 0 0.8rem;
    transition: transform .2s ease-out; }
    @media only screen and (max-width: 36em) {
      .btn--benzinska img {
        width: 4.5rem;
        margin: 0;
        margin: 0 calc((25rem - 4.5rem)/2); } }
  .btn--benzinska p {
    float: left;
    display: block; }
    @media only screen and (max-width: 36em) {
      .btn--benzinska p {
        margin: 0 calc((25rem - 19.366rem)/2);
        margin-top: 2rem;
        text-align: center; } }
  .btn--benzinska:hover {
    background-color: #3C39D8; }
    .btn--benzinska:hover img {
      transform: rotate(-90deg); }

.btn--gorivo {
  float: right;
  margin-right: 3rem;
  background-color: #7F60FD;
  border: none;
  color: white;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  cursor: pointer;
  border-radius: 0.3rem;
  width: 18rem;
  transition: background-color 0.2s;
  text-align: left; }
  @media only screen and (max-width: 80em) {
    .btn--gorivo {
      margin-right: 1.5rem; } }
  @media only screen and (max-width: 60.625em) {
    .btn--gorivo {
      margin: 0 1rem; } }
  @media only screen and (max-width: 36em) {
    .btn--gorivo {
      padding: 4rem 0;
      width: 25rem;
      float: none;
      margin-right: 0;
      font-weight: 700;
      font-size: 2.4rem;
      background-color: #3A4049;
      margin-left: 0;
      margin-top: 4rem; } }
  .btn--gorivo img {
    float: left;
    width: 1.6rem;
    margin: 0 0.8rem;
    transition: transform .2s ease-out; }
    @media only screen and (max-width: 36em) {
      .btn--gorivo img {
        width: 4.5rem;
        margin: 0;
        margin: 0 calc((25rem - 4.5rem)/2); } }
  .btn--gorivo p {
    float: left; }
    @media only screen and (max-width: 36em) {
      .btn--gorivo p {
        margin: 0 calc((25rem - 15.069rem)/2);
        margin-top: 2rem;
        text-align: center; } }
  .btn--gorivo:hover {
    background-color: #3C39D8; }
    .btn--gorivo:hover img {
      transform: rotate(-90deg); }

.btn--pregled {
  position: absolute;
  right: 17rem;
  background-color: #fff;
  border: 0.2rem solid #7F60FD;
  color: #7F60FD;
  padding: 1rem 2.35rem;
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
  border-radius: 0.3rem;
  text-align: center;
  width: 10rem;
  height: 4rem;
  transition: all 0.1s ease-out;
  right: auto;
  padding-left: 1.9rem; }
  .btn--pregled:hover {
    color: #3C39D8;
    border-color: #3C39D8; }

.btn--otkazi {
  position: absolute;
  right: 17rem;
  background-color: #fff;
  border: 0.2rem solid #7F60FD;
  color: #7F60FD;
  padding: 1rem 2.35rem;
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
  border-radius: 0.3rem;
  text-align: center;
  width: 10rem;
  height: 4rem;
  transition: all 0.1s ease-out; }
  .btn--otkazi:hover {
    color: #3C39D8;
    border-color: #3C39D8; }
  @media only screen and (max-width: 36em) {
    .btn--otkazi {
      right: auto;
      left: 3rem; } }
  .btn--otkazi--del {
    position: absolute;
    right: 17rem;
    background-color: #fff;
    border: 0.2rem solid #7F60FD;
    color: #7F60FD;
    padding: 1rem 2.35rem;
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
    border-radius: 0.3rem;
    text-align: center;
    width: 10rem;
    height: 4rem;
    transition: all 0.1s ease-out;
    right: auto;
    left: 7rem; }
    .btn--otkazi--del:hover {
      color: #3C39D8;
      border-color: #3C39D8; }
    @media only screen and (max-width: 385px) {
      .btn--otkazi--del {
        right: auto;
        left: 3rem; } }

.btn--spremi {
  position: absolute;
  right: 3rem;
  background-color: #7F60FD;
  border: none;
  color: white;
  padding: 1rem 2.35rem;
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
  border-radius: 0.3rem;
  text-align: center;
  width: 10rem;
  height: 4rem;
  transition: all 0.1s ease-out; }
  .btn--spremi:hover {
    background-color: #3C39D8; }

.btn--izbrisi--del {
  position: absolute;
  right: 3rem;
  background-color: #7F60FD;
  border: none;
  color: white;
  padding: 1rem 2.35rem;
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
  border-radius: 0.3rem;
  text-align: center;
  width: 10rem;
  height: 4rem;
  transition: all 0.1s ease-out;
  background-color: #CE3A3A;
  right: 7rem; }
  .btn--izbrisi--del:hover {
    background-color: #3C39D8; }
  @media only screen and (max-width: 385px) {
    .btn--izbrisi--del {
      right: 3rem; } }
  .btn--izbrisi--del:hover {
    background-color: #ad3030; }

.btn--dropdowns {
  position: absolute;
  width: 12rem;
  height: 8rem;
  background-color: #7F60FD;
  border-radius: 0 5% 5% 0;
  margin-top: 9rem; }
  .btn--dropdowns img {
    width: 3rem;
    margin-top: 2.4rem;
    margin-left: 4.2rem; }
  .btn--dropdowns--exit {
    width: 7rem;
    height: 7rem;
    background-color: #3C39D8;
    border-radius: 0 0 0 50%;
    position: absolute;
    top: 0;
    right: 0; }
    .btn--dropdowns--exit img {
      width: 2.5rem;
      margin-top: 1.9rem;
      margin-left: 0.5rem; }

.btn--buttons {
  position: absolute;
  right: 0;
  width: 12rem;
  height: 8rem;
  background-color: #0D1321;
  border-radius: 5% 0 0 5%;
  text-align: right;
  color: #fff;
  margin-top: 9rem; }
  .btn--buttons img {
    width: 3rem;
    margin-top: 2.4rem;
    margin-right: 4.2rem; }
  .btn--buttons--exit {
    width: 7rem;
    height: 7rem;
    background-color: #3A4049;
    border-radius: 0 0 50% 0;
    position: absolute;
    top: 0;
    left: 0; }
    .btn--buttons--exit img {
      width: 2.5rem;
      margin-top: 1.9rem;
      margin-right: 0.5rem; }

.dropdown {
  font-size: 1.6rem;
  font-weight: 400; }
  @media only screen and (max-width: 60.625em) {
    .dropdown {
      text-align: center; } }
  @media only screen and (max-width: 36em) {
    .dropdown {
      margin-top: 14rem; } }
  .dropdown li {
    display: inline-block;
    list-style: none; }
    .dropdown li a {
      display: block;
      color: #333;
      background-color: #fff;
      padding: 0.8rem 3.5rem 0.8rem 1rem;
      text-decoration: none; }
      @media only screen and (max-width: 36em) {
        .dropdown li a {
          padding: 2rem; } }
      .dropdown li a span {
        display: inline-block;
        margin-left: 0.5rem;
        font-size: 1rem;
        color: #999; }
        @media only screen and (max-width: 36em) {
          .dropdown li a span {
            margin-top: 1rem; } }
  .dropdown__button {
    position: relative;
    margin-right: 2rem;
    border: 0.1rem solid #B5B5B5;
    transition: border-color 0.2s; }
    @media only screen and (max-width: 60.625em) {
      .dropdown__button {
        margin: 0 1rem; } }
    @media only screen and (max-width: 36em) {
      .dropdown__button {
        margin: 3rem 2rem 0 2rem;
        border: none;
        width: 25rem; } }
    .dropdown__button:hover {
      border-color: black; }
  .dropdown__toggle__arr {
    position: absolute;
    top: 1.2rem;
    right: 1rem; }
  .dropdown__menu {
    display: none;
    position: absolute;
    left: 0;
    padding: 0;
    margin: 0.5rem 0 0;
    text-align: left;
    height: 15rem;
    overflow-y: scroll;
    border: 0.1rem solid #B5B5B5;
    z-index: 1; }
    @media only screen and (max-width: 36em) {
      .dropdown__menu {
        margin-top: 0.3rem; } }
    .dropdown__menu a {
      width: 15rem; }
      @media only screen and (max-width: 36em) {
        .dropdown__menu a {
          width: 24.8rem; } }
      .dropdown__menu a:hover {
        background-color: #F2F2F2; }
    .dropdown__menu__price div:first-child input {
      width: 4.2rem;
      padding: 0.8rem 1rem; }
    .dropdown__menu__price div:last-child {
      margin-top: 0.5rem; }
    .dropdown__menu.active {
      display: block; }

.overlay1, .overlay2, .overlay3, .overlay4 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  backface-visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out; }
  .overlay1.active, .overlay2.active, .overlay3.active, .overlay4.active {
    opacity: 1;
    visibility: visible; }

.modal1, .modal2, .modal3, .modal4 {
  position: relative;
  margin: 0 auto;
  background-color: #fff;
  width: 55rem;
  min-height: 56rem;
  border-radius: 0.3rem;
  opacity: 0;
  overflow-y: auto;
  visibility: hidden;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1);
  backface-visibility: hidden;
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
  z-index: 20;
  margin-top: 18rem; }
  @media only screen and (max-width: 36em) {
    .modal1, .modal2, .modal3, .modal4 {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 0;
      transform: scale(1.1);
      padding: 0 !important;
      margin-top: 0; } }
  .modal1__close, .modal2__close, .modal3__close, .modal4__close {
    position: absolute;
    cursor: pointer;
    top: 1.5rem;
    right: 2.8rem;
    opacity: 0;
    backface-visibility: hidden;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    transition-delay: 0.3s; }
    @media only screen and (max-width: 36em) {
      .modal1__close, .modal2__close, .modal3__close, .modal4__close {
        right: 2rem !important; } }
    .modal1__close img, .modal2__close img, .modal3__close img, .modal4__close img {
      width: 2rem;
      height: 2rem; }
    .modal1__close.active, .modal2__close.active, .modal3__close.active, .modal4__close.active {
      transform: translateY(1rem);
      opacity: 1; }
  .modal1 .warn, .modal2 .warn, .modal3 .warn, .modal4 .warn {
    position: absolute;
    top: 2.4rem;
    left: 2.7rem;
    width: 2.3rem;
    height: 2.3rem; }
  .modal1__content, .modal2__content, .modal3__content, .modal4__content {
    opacity: 0;
    backface-visibility: hidden;
    transition: opacity 0.3s ease-in-out;
    transition-delay: 0.3s;
    padding: 3rem 4rem 0;
    width: 100%; }
    @media only screen and (max-width: 36em) {
      .modal1__content, .modal2__content, .modal3__content, .modal4__content {
        padding: 10rem 3rem; } }
    .modal1__content input[type=number], .modal2__content input[type=number], .modal3__content input[type=number], .modal4__content input[type=number] {
      width: 100%;
      margin-bottom: 2rem;
      border-radius: 0.3rem;
      border: 0.1rem solid #B5B5B5;
      height: 3.5rem;
      padding: 1rem;
      font-size: 1.6rem;
      width: 6rem;
      margin: initial; }
    .modal1__content input[type=text], .modal2__content input[type=text], .modal3__content input[type=text], .modal4__content input[type=text] {
      width: 100%;
      margin-bottom: 2rem;
      border-radius: 0.3rem;
      border: 0.1rem solid #B5B5B5;
      height: 3.5rem;
      padding: 1rem;
      font-size: 1.6rem; }
    .modal1__content__header1, .modal1__content__header2, .modal2__content__header1, .modal2__content__header2, .modal3__content__header1, .modal3__content__header2, .modal4__content__header1, .modal4__content__header2 {
      font-size: 4.6rem;
      font-weight: 300;
      margin-bottom: 3rem;
      padding-bottom: 0.5rem;
      border-bottom: 0.1rem solid #B5B5B5;
      width: 80%; }
      @media only screen and (max-width: 36em) {
        .modal1__content__header1, .modal1__content__header2, .modal2__content__header1, .modal2__content__header2, .modal3__content__header1, .modal3__content__header2, .modal4__content__header1, .modal4__content__header2 {
          width: 100%;
          font-size: 4rem;
          text-align: center; } }
    .modal1__content__header2, .modal2__content__header2, .modal3__content__header2, .modal4__content__header2 {
      margin-top: 2.5rem;
      font-size: 3.2rem;
      border: none;
      text-align: center;
      width: 100%;
      margin-bottom: 1.8rem; }
    .modal1__content__label, .modal2__content__label, .modal3__content__label, .modal4__content__label {
      font-size: 2.2rem;
      font-weight: 300;
      margin-bottom: 0.5rem;
      width: 100%;
      float: left; }
      @media only screen and (max-width: 36em) {
        .modal1__content__label, .modal2__content__label, .modal3__content__label, .modal4__content__label {
          float: none;
          text-align: center; } }
    .modal1__content__dropdown, .modal2__content__dropdown, .modal3__content__dropdown, .modal4__content__dropdown {
      margin-bottom: 2rem;
      float: left; }
      @media only screen and (max-width: 36em) {
        .modal1__content__dropdown, .modal2__content__dropdown, .modal3__content__dropdown, .modal4__content__dropdown {
          float: none; } }
      .modal1__content__dropdown .dropdown, .modal2__content__dropdown .dropdown, .modal3__content__dropdown .dropdown, .modal4__content__dropdown .dropdown {
        margin: 0; }
        @media only screen and (max-width: 60.625em) {
          .modal1__content__dropdown .dropdown__button, .modal2__content__dropdown .dropdown__button, .modal3__content__dropdown .dropdown__button, .modal4__content__dropdown .dropdown__button {
            margin: 0; } }
        @media only screen and (max-width: 36em) {
          .modal1__content__dropdown .dropdown__button, .modal2__content__dropdown .dropdown__button, .modal3__content__dropdown .dropdown__button, .modal4__content__dropdown .dropdown__button {
            text-align: left;
            width: 10rem;
            border: 0.1rem solid #B5B5B5; } }
        @media only screen and (max-width: 36em) {
          .modal1__content__dropdown .dropdown a, .modal2__content__dropdown .dropdown a, .modal3__content__dropdown .dropdown a, .modal4__content__dropdown .dropdown a {
            padding: 1rem; } }
        @media only screen and (max-width: 36em) {
          .modal1__content__dropdown .dropdown a span, .modal2__content__dropdown .dropdown a span, .modal3__content__dropdown .dropdown a span, .modal4__content__dropdown .dropdown a span {
            margin-top: 0.1rem; } }
        @media only screen and (max-width: 36em) {
          .modal1__content__dropdown .dropdown__menu a, .modal2__content__dropdown .dropdown__menu a, .modal3__content__dropdown .dropdown__menu a, .modal4__content__dropdown .dropdown__menu a {
            width: 11.7rem; } }
    .modal1__content__kn, .modal2__content__kn, .modal3__content__kn, .modal4__content__kn {
      float: left;
      width: 100%; }
      @media only screen and (max-width: 36em) {
        .modal1__content__kn, .modal2__content__kn, .modal3__content__kn, .modal4__content__kn {
          float: none;
          text-align: center; } }
      .modal1__content__kn input, .modal2__content__kn input, .modal3__content__kn input, .modal4__content__kn input {
        float: left; }
        @media only screen and (max-width: 36em) {
          .modal1__content__kn input, .modal2__content__kn input, .modal3__content__kn input, .modal4__content__kn input {
            float: none; } }
      .modal1__content__kn p, .modal2__content__kn p, .modal3__content__kn p, .modal4__content__kn p {
        float: left;
        font-size: 2rem;
        font-weight: 300;
        margin-left: .5rem;
        margin-top: .5rem; }
        @media only screen and (max-width: 36em) {
          .modal1__content__kn p, .modal2__content__kn p, .modal3__content__kn p, .modal4__content__kn p {
            float: none;
            margin: 0; } }
    .modal1__content__buttons, .modal2__content__buttons, .modal3__content__buttons, .modal4__content__buttons {
      width: 100%;
      margin-top: 4rem;
      float: left; }
      @media only screen and (max-width: 36em) {
        .modal1__content__buttons div:first-child, .modal2__content__buttons div:first-child, .modal3__content__buttons div:first-child, .modal4__content__buttons div:first-child {
          display: none; } }
    .modal1__content.active, .modal2__content.active, .modal3__content.active, .modal4__content.active {
      opacity: 1; }
  .modal1.active, .modal2.active, .modal3.active, .modal4.active {
    visibility: visible;
    opacity: 1;
    transform: scale(1); }

.modal2 {
  min-height: 47rem;
  margin-top: 22rem; }
  @media only screen and (max-width: 36em) {
    .modal2 {
      margin-top: 0; } }

.modal4 {
  width: 40rem;
  min-height: 26rem;
  margin-top: 30rem; }
  @media only screen and (max-width: 36em) {
    .modal4 {
      width: auto;
      margin-top: 0; } }

.wrapper {
  display: none; }

@media only screen and (max-width: 36em) {
  .wrapper {
    display: block;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 460rem; }
  #canvas {
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    padding: 0; }
  .show-nav #canvas {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    transform: translate3d(100%, 0, 0);
    -webkit-transform: translate3d(100%, 0, 0);
    z-index: 5; }
  .show-nav2 #canvas {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    transform: translate3d(-100%, 0, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
    z-index: 5; }
  .menu {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    background: #7F60FD;
    text-align: center; }
  .menu2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: -100%;
    background: #0D1321;
    text-align: center; }
  .snappy {
    -webkit-transition: all 300ms cubic-bezier(0.694, 0.0482, 0.335, 1);
    transition: all 300ms cubic-bezier(0.694, 0.0482, 0.335, 1);
    color: #fff; } }

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 1.6rem; }
  table thead tr th:nth-child(n+5) {
    width: 5rem;
    background-color: #727272; }
  @media only screen and (max-width: 48em) {
    table thead tr {
      position: absolute;
      top: -999rem;
      left: -999rem; } }
  table tr + tr {
    margin-top: 1.5em; }
  table th {
    font-weight: bold;
    border: 0.1rem solid #B5B5B5;
    line-height: 1.5;
    height: 3.5rem;
    width: 10rem;
    text-align: center;
    color: #FFF;
    background-color: #0D1321;
    font-weight: 500; }
  table td {
    border: 0.1rem solid #B5B5B5;
    height: 3.5rem;
    text-align: center;
    font-weight: 400; }
    @media only screen and (max-width: 48em) {
      table td {
        position: relative;
        padding-left: 50%;
        padding-top: 0.6rem;
        margin-bottom: -.1rem;
        font-weight: 400; }
        table td:before {
          position: absolute;
          top: 0.6rem;
          left: 0.6rem;
          width: 45%;
          padding-right: 1rem; }
        table td:nth-of-type(1):before {
          content: "Mjesto";
          font-weight: 500;
          background-color: #3A4049;
          color: #FFF;
          padding: 0.7rem 0;
          width: 50%;
          border-right: 0.1rem solid #B5B5B5;
          margin-top: -.6rem;
          margin-left: -.6rem; }
        table td:nth-of-type(2):before {
          content: "Benzinska";
          font-weight: 500;
          background-color: #3A4049;
          color: #FFF;
          padding: 0.7rem 0;
          width: 50%;
          border-right: 0.1rem solid #B5B5B5;
          margin-top: -.6rem;
          margin-left: -.6rem; }
        table td:nth-of-type(3):before {
          content: "Gorivo";
          font-weight: 500;
          background-color: #3A4049;
          color: #FFF;
          padding: 0.7rem 0;
          width: 50%;
          border-right: 0.1rem solid #B5B5B5;
          margin-top: -.6rem;
          margin-left: -.6rem; }
        table td:nth-of-type(4):before {
          content: "Cijena";
          font-weight: 500;
          background-color: #3A4049;
          color: #FFF;
          padding: 0.7rem 0;
          width: 50%;
          border-right: 0.1rem solid #B5B5B5;
          margin-top: -.6rem;
          margin-left: -.6rem; }
        table td:nth-of-type(5):before {
          content: "Uredi";
          font-weight: 500;
          background-color: #3A4049;
          color: #FFF;
          padding: 0.7rem 0;
          width: 50%;
          border-right: 0.1rem solid #B5B5B5;
          margin-top: -.6rem;
          margin-left: -.6rem; }
        table td:nth-of-type(6):before {
          content: "Izbriši";
          font-weight: 500;
          background-color: #3A4049;
          color: #FFF;
          padding: 0.7rem 0;
          width: 50%;
          border-right: 0.1rem solid #B5B5B5;
          margin-top: -.6rem;
          margin-left: -.6rem; } }
    table td img {
      width: 1.8rem;
      cursor: pointer; }

@media only screen and (max-width: 48em) {
  table,
  tbody,
  td,
  th,
  thead,
  tr {
    display: block; } }

.row:after, .row:before {
  content: "";
  clear: both;
  display: table; }

.col.xxl-1 {
  width: 8.33%; }

.col.xxl-2 {
  width: 16.66%; }

.col.xxl-3 {
  width: 25%; }

.col.xxl-4 {
  width: 33.33%; }

.col.xxl-5 {
  width: 41.66%; }

.col.xxl-6 {
  width: 50%; }

.col.xxl-7 {
  width: 58.33%; }

.col.xxl-8 {
  width: 66.66%; }

.col.xxl-9 {
  width: 75%; }

.col.xxl-10 {
  width: 83.33%; }

.col.xxl-11 {
  width: 91.66%; }

.col.xxl-12 {
  width: 100%; }

@media (max-width: 100em) {
  .col.xl-1 {
    width: 8.33%; }
  .col.xl-2 {
    width: 16.66%; }
  .col.xl-3 {
    width: 25%; }
  .col.xl-4 {
    width: 33.33%; }
  .col.xl-5 {
    width: 41.66%; }
  .col.xl-6 {
    width: 50%; }
  .col.xl-7 {
    width: 58.33%; }
  .col.xl-8 {
    width: 66.66%; }
  .col.xl-9 {
    width: 75%; }
  .col.xl-10 {
    width: 83.33%; }
  .col.xl-11 {
    width: 91.66%; }
  .col.xl-12 {
    width: 100%; } }

@media (max-width: 80em) {
  .col.l-1 {
    width: 8.33%; }
  .col.l-2 {
    width: 16.66%; }
  .col.l-3 {
    width: 25%; }
  .col.l-4 {
    width: 33.33%; }
  .col.l-5 {
    width: 41.66%; }
  .col.l-6 {
    width: 50%; }
  .col.l-7 {
    width: 58.33%; }
  .col.l-8 {
    width: 66.66%; }
  .col.l-9 {
    width: 75%; }
  .col.l-10 {
    width: 83.33%; }
  .col.l-11 {
    width: 91.66%; }
  .col.l-12 {
    width: 100%; } }

@media (max-width: 60.625em) {
  .col.m-1 {
    width: 8.33%; }
  .col.m-2 {
    width: 16.66%; }
  .col.m-3 {
    width: 25%; }
  .col.m-4 {
    width: 33.33%; }
  .col.m-5 {
    width: 41.66%; }
  .col.m-6 {
    width: 50%; }
  .col.m-7 {
    width: 58.33%; }
  .col.m-8 {
    width: 66.66%; }
  .col.m-9 {
    width: 75%; }
  .col.m-10 {
    width: 83.33%; }
  .col.m-11 {
    width: 91.66%; }
  .col.m-12 {
    width: 100%; } }

@media (max-width: 48em) {
  .col.s-1 {
    width: 8.33%; }
  .col.s-2 {
    width: 16.66%; }
  .col.s-3 {
    width: 25%; }
  .col.s-4 {
    width: 33.33%; }
  .col.s-5 {
    width: 41.66%; }
  .col.s-6 {
    width: 50%; }
  .col.s-7 {
    width: 58.33%; }
  .col.s-8 {
    width: 66.66%; }
  .col.s-9 {
    width: 75%; }
  .col.s-10 {
    width: 83.33%; }
  .col.s-11 {
    width: 91.66%; }
  .col.s-12 {
    width: 100%; } }

@media (max-width: 36em) {
  .col.xs-1 {
    width: 8.33%; }
  .col.xs-2 {
    width: 16.66%; }
  .col.xs-3 {
    width: 25%; }
  .col.xs-4 {
    width: 33.33%; }
  .col.xs-5 {
    width: 41.66%; }
  .col.xs-6 {
    width: 50%; }
  .col.xs-7 {
    width: 58.33%; }
  .col.xs-8 {
    width: 66.66%; }
  .col.xs-9 {
    width: 75%; }
  .col.xs-10 {
    width: 83.33%; }
  .col.xs-11 {
    width: 91.66%; }
  .col.xs-12 {
    width: 100%; } }

[class*="col"] {
  float: left; }

.main {
  padding: 3rem; }
  @media only screen and (max-width: 80em) {
    .main {
      padding: 2rem; } }
  .main__top {
    padding-bottom: 1.5rem; }
    @media only screen and (max-width: 60.625em) {
      .main__top {
        min-height: 10rem;
        margin-bottom: 1rem; } }
    @media only screen and (max-width: 60.625em) {
      .main__top {
        padding-bottom: 1rem; } }
    @media only screen and (max-width: 36em) {
      .main__top {
        height: 10rem; } }
    @media only screen and (max-width: 36em) {
      .main__top__dropdowns {
        display: none; } }
    @media only screen and (max-width: 60.625em) {
      .main__top__buttons {
        margin-top: 2rem;
        text-align: center; } }
    @media only screen and (max-width: 36em) {
      .main__top__buttons {
        display: none; } }
    .main__top__buttons--canvas {
      margin: 14rem 0; }
    .main__top__buttons__box {
      height: 3.7rem;
      display: inline-block;
      float: right; }
      @media only screen and (max-width: 60.625em) {
        .main__top__buttons__box {
          float: none; } }
  .main__pag {
    text-align: center;
    margin-top: 2.5rem;
    z-index: 2; }
    .main__pag a {
      color: black;
      padding: 0.6rem 1.2rem;
      text-decoration: none;
      border: 0.1rem solid #B5B5B5;
      margin: 0 0.6rem;
      font-size: 1.6rem;
      font-weight: 400;
      transition: border-color 0.2s; }
      .main__pag a.active {
        background-color: #7F60FD;
        color: #FFF; }
      .main__pag a:hover:not(.active) {
        border-color: #7F60FD; }
      .main__pag a:first-child {
        background-image: url("../img/chevron-left.svg");
        padding: 0.6rem 1.6rem;
        background-size: 0.8rem;
        background-position: 1.2rem 0.85rem;
        background-repeat: no-repeat; }
      .main__pag a:last-child {
        background-image: url("../img/chevron-right.svg");
        padding: 0.6rem 1.6rem;
        background-size: 0.8rem;
        background-position: 1.2rem 0.85rem;
        background-repeat: no-repeat; }

.side {
  background-color: #0D1321;
  height: 100vh; }
  @media only screen and (max-width: 80em) {
    .side {
      height: auto; } }
  .side__user {
    border-bottom: 0.3rem solid #3A4049;
    min-height: 13rem; }
    @media only screen and (max-width: 80em) {
      .side__user {
        display: none; } }
    .side__user__left {
      float: left;
      max-height: 13rem;
      padding-left: 3rem;
      padding-top: 2.5rem; }
      .side__user__left img {
        border-radius: 50%;
        height: 8rem; }
    .side__user__right {
      float: left;
      color: #FFF;
      font-size: 2.4rem;
      font-weight: 300;
      line-height: 2.5rem;
      padding-left: 3rem;
      max-height: 13rem;
      padding-top: 4rem; }
      @media only screen and (max-width: 100em) {
        .side__user__right {
          padding-left: 1.3rem;
          font-size: 2.2rem; } }
  .side__nav .nav {
    font-size: 1.6rem;
    font-weight: 400; }
    @media only screen and (max-width: 48em) {
      .side__nav .nav {
        width: 100%;
        background-color: #0D1321;
        height: 0;
        transition: all .3s ease-in-out;
        z-index: 20; }
        .side__nav .nav.active {
          height: 24rem; } }
    @media only screen and (max-width: 36em) {
      .side__nav .nav {
        position: absolute; } }
    @media only screen and (max-width: 48em) {
      .side__nav .nav__link {
        height: 0;
        opacity: 0;
        transition: all .3s ease-in-out; }
        .side__nav .nav__link.active {
          height: 6rem;
          opacity: 1; } }
    .side__nav .nav__item {
      height: 6rem;
      padding-top: 2.05rem;
      transition: background-color 0.2s; }
      @media only screen and (max-width: 48em) {
        .side__nav .nav__item {
          display: none; }
          .side__nav .nav__item.active {
            display: block; } }
      .side__nav .nav__item:hover {
        background-color: #3A4049; }
      .side__nav .nav__item--active {
        height: 6rem;
        padding-top: 2.05rem;
        background-color: #7F60FD;
        color: #FFF; }
        @media only screen and (max-width: 48em) {
          .side__nav .nav__item--active {
            display: none; }
            .side__nav .nav__item--active.active {
              display: block; } }
      .side__nav .nav__item__home {
        background-image: url("../img/home.svg");
        background-size: 2rem;
        background-repeat: no-repeat;
        background-position: 3rem 0;
        padding: 0 6rem; }
        .side__nav .nav__item__home--active {
          background-image: url("../img/home-active.svg");
          background-size: 2rem;
          background-repeat: no-repeat;
          background-position: 3rem 0;
          padding: 0 6rem; }
      .side__nav .nav__item__list {
        background-image: url("../img/list.svg");
        background-size: 2rem;
        background-repeat: no-repeat;
        background-position: 3rem 0;
        padding: 0 6rem; }
        .side__nav .nav__item__list--active {
          background-image: url("../img/list-active.svg"); }
      .side__nav .nav__item__admin {
        background-image: url("../img/edit.svg");
        background-size: 2rem;
        background-repeat: no-repeat;
        background-position: 3rem 0;
        padding: 0 6rem; }
        .side__nav .nav__item__admin--active {
          background-image: url("../img/edit-active.svg");
          background-size: 2rem;
          background-repeat: no-repeat;
          background-position: 3rem 0;
          padding: 0 6rem; }
      .side__nav .nav__item__profile {
        background-image: url("../img/user.svg");
        background-size: 2rem;
        background-repeat: no-repeat;
        background-position: 3rem 0;
        padding: 0 6rem; }
        .side__nav .nav__item__profile--active {
          background-image: url("../img/user--active.svg");
          background-size: 2rem;
          background-repeat: no-repeat;
          background-position: 3rem 0;
          padding: 0 6rem; }

.top {
  background-color: #7F60FD;
  height: 7rem; }
  .top__left__brand {
    text-align: center;
    margin-top: 1.35rem;
    font-size: 3.6rem;
    font-weight: 500;
    color: #FFF; }
    @media only screen and (max-width: 80em) {
      .top__left__brand {
        text-align: left;
        margin-left: 2rem; } }
  @media only screen and (max-width: 48em) {
    .top__left .hamburger::after {
      font-family: fontawesome;
      content: "\f0c9";
      color: #fff;
      font-size: 3rem;
      position: absolute;
      top: 2rem;
      right: 2.5rem;
      cursor: pointer; } }
  .top__right__search {
    float: right;
    margin-top: 2rem;
    width: 18rem;
    border-radius: 0.3rem;
    border: none;
    font-size: 1.2rem;
    background-image: url("../img/search.svg");
    background-size: 1.3rem;
    background-position: 0.8rem 0.8rem;
    background-repeat: no-repeat;
    padding: 0.8rem 2rem 0.8rem 2.8rem; }
    @media only screen and (max-width: 48em) {
      .top__right__search {
        display: none; } }
  .top__right__profile {
    float: right;
    margin: 1.5rem 3rem 0 3rem; }
    @media only screen and (max-width: 80em) {
      .top__right__profile {
        margin: 1.5rem 2rem 0 3rem; } }
    @media only screen and (max-width: 48em) {
      .top__right__profile {
        display: none; } }
    .top__right__profile img {
      border-radius: 50%;
      height: 4rem;
      cursor: pointer; }
