*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=submit] {
  padding: .5rem 1rem;
  background: #fff;
  border: 0.1rem solid #B5B5B5;
  cursor: pointer;
  -webkit-border-radius: .2rem;
  border-radius: .2rem; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  height: 100%; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: #B5B5B5; }

.container {
  display: flex; }

.top {
  display: flex;
  background-color: #7F60FD;
  height: 7rem; }
  .top__left {
    flex: 1;
    font-size: 3.6rem;
    font-weight: 500;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center; }
  .top__right {
    flex: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: flex-end; }

.profile-div {
  padding: 0rem 4rem; }

.profile--top {
  border-radius: 50%;
  height: 4rem;
  cursor: pointer; }

.search {
  width: 18rem;
  border-radius: .3rem;
  border: none;
  font-size: 1.2rem;
  background-image: url("../img/search.svg");
  background-size: 1.3rem;
  background-position: .8rem .8rem;
  background-repeat: no-repeat;
  padding: .8rem 2rem .8rem 2.8rem; }

.side {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #0D1321;
  height: 90rem; }
  .side__user {
    border-bottom: 0.3rem solid #3A4049;
    display: flex;
    color: #fff;
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 2.5rem;
    min-height: 13rem; }
    .side__user-left {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      max-height: 13rem; }
    .side__user-right {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      justify-content: flex-start;
      max-height: 13rem; }

.nav {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  font-weight: 400; }
  .nav__item {
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: flex-start;
    transition: background-color .2s; }
    .nav__item--active {
      height: 6rem;
      display: flex;
      align-items: center;
      justify-content: center;
      justify-content: inherit;
      background-color: #7F60FD;
      color: #fff; }
  .nav__item:hover {
    background-color: #3A4049; }
  .nav__home {
    background-image: url("../img/home.svg");
    background-size: 2rem;
    background-repeat: no-repeat;
    background-position: 3rem 0rem;
    padding: 0rem 6rem; }
    .nav__home--active {
      background-image: url("../img/home-active.svg");
      background-size: 2rem;
      background-repeat: no-repeat;
      background-position: 3rem 0rem;
      padding: 0rem 6rem; }
  .nav__list {
    background-image: url("../img/list.svg");
    background-size: 2rem;
    background-repeat: no-repeat;
    background-position: 3rem 0rem;
    padding: 0rem 6rem; }
    .nav__list--active {
      background-image: url("../img/list-active.svg"); }
  .nav__admin {
    background-image: url("../img/edit.svg");
    background-size: 2rem;
    background-repeat: no-repeat;
    background-position: 3rem 0rem;
    padding: 0rem 6rem; }
    .nav__admin--active {
      background-image: url("../img/edit-active.svg");
      background-size: 2rem;
      background-repeat: no-repeat;
      background-position: 3rem 0rem;
      padding: 0rem 6rem; }
  .nav__profile {
    background-image: url("../img/user.svg");
    background-size: 2rem;
    background-repeat: no-repeat;
    background-position: 3rem 0rem;
    padding: 0rem 6rem; }
    .nav__profile--active {
      background-image: url("../img/user--active.svg");
      background-size: 2rem;
      background-repeat: no-repeat;
      background-position: 3rem 0rem;
      padding: 0rem 6rem; }

.profile--side {
  border-radius: 50%;
  height: 8rem; }

.main {
  flex: 5;
  margin: 4rem;
  display: flex;
  flex-direction: column; }
  .main__top {
    display: flex;
    padding-bottom: 2rem;
    min-height: 5rem; }

.dropdowns {
  display: flex;
  flex: 3; }
  .dropdowns__box {
    flex: 1; }

.buttons {
  display: flex;
  flex: 2; }
  .buttons__box {
    flex: 1; }
    .buttons__box .btn {
      background-color: #7F60FD;
      border: none;
      color: white;
      padding: .9rem 1rem;
      font-size: 1.6rem;
      font-weight: 400;
      cursor: pointer;
      display: flex;
      border-radius: .3rem;
      width: 90%;
      transition: background-color .2s; }
    .buttons__box .btn:hover {
      background-color: #3C39D8; }
    .buttons__box .plus {
      width: 1.6rem;
      margin-right: .8rem; }

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 1.6rem; }
  table tr + tr {
    margin-top: 1.5em; }
  table th {
    background-color: #eee;
    font-weight: bold;
    border: 0.1rem solid #B5B5B5;
    line-height: 1.5;
    height: 3.5rem;
    width: 10rem;
    text-align: center;
    color: #fff;
    background-color: #0D1321;
    font-weight: 500; }
  table .short {
    width: 5rem;
    background-color: #727272; }
  table .svg {
    width: 1.8rem; }
  table td {
    border: 0.1rem solid #B5B5B5;
    height: 3.5rem;
    text-align: center;
    font-weight: 400; }

.dropdown {
  position: relative; }
  .dropdown__items {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 12rem;
    z-index: 1000; }
  .dropdown__item {
    background: #f6f6f6;
    color: #000;
    border-bottom: .1rem solid #ccc; }
  .dropdown__link {
    display: block;
    color: #000 !important;
    background: #fff !important; }
    .dropdown__link:hover {
      display: block;
      background: #F2F2F2 !important; }
  .dropdown__drop {
    font-weight: bold;
    float: left;
    width: 12rem;
    position: relative;
    background: #fff;
    border: 0.1rem solid #B5B5B5; }
    .dropdown__drop__link {
      position: relative; }
      .dropdown__drop__link:after {
        content: "";
        position: absolute;
        right: 1rem;
        top: 45%;
        border-left: .5rem solid transparent;
        border-top: .5rem solid;
        border-right: .5rem solid transparent;
        z-index: 999; }
      .dropdown__drop__link:hover:after {
        content: "";
        border-left: .5rem solid transparent;
        border-right: .5rem solid transparent; }

.edit {
  display: block;
  padding: .8rem 1rem;
  color: #000;
  position: relative;
  z-index: 2000;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.6rem; }
  .edit:hover, .edit.hover {
    background: #F2F2F2;
    position: relative; }

.range {
  display: flex;
  flex-direction: column;
  align-items: center; }

.input {
  width: 4.2rem;
  padding: .8rem 1rem; }

.submit-box {
  margin-top: .5rem; }
