*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

.container {
  display: flex;
  height: 92vh; }

.top {
  display: flex;
  background-color: #7F60FD;
  height: 8vh; }
  .top__left {
    flex: 1;
    font-size: 3.6rem;
    font-weight: 500;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center; }
  .top__right {
    flex: 5;
    display: flex;
    align-items: center;
    justify-content: flex-end; }

.profile-div {
  padding: 0rem 4rem; }

.profile {
  border-radius: 50%;
  height: 4rem;
  cursor: pointer; }

.search {
  width: 18rem;
  border-radius: .3rem;
  border: none;
  font-size: 1.2rem;
  background-image: url("../img/search.svg");
  background-size: 1.3rem;
  background-position: .8rem .8rem;
  background-repeat: no-repeat;
  padding: .8rem 2rem .8rem 2.8rem; }

.side {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #0D1321; }
  .side__user {
    height: 20vh;
    border-bottom: 0.2rem solid #3A4049; }
  .side__nav {
    height: 72vh; }

.main {
  flex: 5; }
