$color-primary: #7F60FD;
$color-primary-dark: #3C39D8;
$color-secondary: #0D1321;
$color-secondary-light: #3A4049;
$color-grey: #B5B5B5;
$color-grey-light: #F2F2F2;
$color-grey-dark: #727272;
$color-white: #FFF;
