$color-primary: #7F60FD;
$color-primary-dark: #3C39D8;
$color-secondary: #0D1321;
$color-secondary-light: #3A4049;
$color-grey: #B5B5B5;
$color-grey-light: #F2F2F2;
$color-white: #fff;

@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin icon {
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position: 3rem 0rem;
  padding: 0rem 6rem;
}

//////////////////////
// GENERAL

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: $color-grey;
}

.container {
  display: flex;
  height: 92vh;
}


//////////////////////
// TOP BAR

.top {
  display: flex;
  background-color: $color-primary;
  height: 8vh;

  &__left {
    flex: 1;
    font-size: 3.6rem;
    font-weight: 500;
    color: $color-white;
    @include flex;
  }

  &__right {
    flex: 5;
    @include flex;
    justify-content: flex-end;
  }
}

.profile-div {
  padding: 0rem 4rem;
}

.profile--top {
  border-radius: 50%;
  height: 4rem;
  cursor: pointer;
}

.search {
  width: 18rem;
  border-radius: .3rem;
  border: none;
  font-size: 1.2rem;
  background-image: url('../img/search.svg');
  background-size: 1.3rem;
  background-position: .8rem .8rem;
  background-repeat: no-repeat;
  padding: .8rem 2rem .8rem 2.8rem;
}




//////////////////////
// SIDEBAR

.side {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: $color-secondary;

  &__user {
    height: 15vh;
    border-bottom: .3rem solid $color-secondary-light;
    display: flex;
    color: $color-white;
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 2.5rem;

    &-left {
      flex: 1;
      @include flex;
    }

    &-right {
      flex: 1;
      @include flex;
      justify-content: flex-start;
    }
  }

  &__nav {
    height: 77vh;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  font-weight: 400;

  &__item {
    height: 6.5vh;
    @include flex;
    justify-content: flex-start;
    transition: background-color .2s;

    &--active {
      height: 6.5vh;
      @include flex;
      justify-content: inherit;
      background-color: $color-primary;
      color: $color-white;
    }
  }

  &__item:hover {
    background-color: $color-secondary-light;
  }

  &__home {
    background-image: url('../img/home.svg');
    @include icon;

    &--active {
      background-image: url('../img/home-active.svg');
      @include icon;
    }
  }

  &__list {
    background-image: url('../img/list.svg');
    @include icon;

    &--active {
      background-image: url('../img/list-active.svg');
    }
  }

  &__admin {
    background-image: url('../img/edit.svg');
    @include icon;

    &--active {
      background-image: url('../img/edit-active.svg');
      @include icon;
    }
  }

  &__profile {
    background-image: url('../img/user.svg');
    @include icon;

    &--active {
      background-image: url('../img/user--active.svg');
      @include icon;
    }
  }

}


.profile--side {
  border-radius: 50%;
  height: 8rem;
}


//////////////////////
// MAIN

.main {
  flex: 5;
  margin: 4rem;
  display: flex;
  flex-direction: column;

  &__top {
    display: flex;
    height: 6rem;
    padding-bottom: 2rem;

    .dropdown {
      display: flex;
      flex: 2;
      background-color: yellow;
      align-items: center;

      &__box {
        flex: 1;
      }
    }

    .button {
      display: flex;
      flex: 1;
      align-items: center;
      background-color: red;

      &__box {
          flex: 1;
      }
    }
  }

  &__table {
    background-color: blue;
    flex: 1;

  }
}
