//////////////////////
// COLORS
$color-primary: #7F60FD;
$color-primary-dark: #3C39D8;
$color-secondary: #0D1321;
$color-secondary-light: #3A4049;
$color-grey: #B5B5B5;
$color-grey-light: #F2F2F2;
$color-grey-dark: #727272;
$color-white: #fff;


//////////////////////
// RESPONSIVE
$desktop-lg: 100em; // 1500px
$tablet-land-lg: 80em; // 1280px
$tablet-land-sm: 60.625em; // 970px
$tablet-port: 48em; // 768px
$mobile: 25em; // 400px


//////////////////////
// MIXINS
@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin icon {
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position: 3rem 0rem;
  padding: 0rem 6rem;
}

@mixin chevron {
  padding: .6rem 1.6rem;
  background-size: .8rem;
  background-position: 1.2rem .85rem;
  background-repeat: no-repeat;
}

@mixin table {
  font-weight: 500;
  background-color: $color-secondary;
  color: $color-white;
  padding: .7rem 0rem;
  width: 50%;
  border-right: .1rem solid $color-grey;
  margin-top: -.6rem;
  margin-left: -.6rem;
}

//////////////////////
// GENERAL

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=submit] {
    padding: .5rem 1rem;
    background: $color-white;
    border: .1rem solid $color-grey;
    cursor: pointer;
    -webkit-border-radius: .2rem;
    border-radius: .2rem;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $color-grey;
}

.container {
  display: flex;

  @media only screen and (max-width: $tablet-land-lg) {
    display: block;
  }
}


//////////////////////
// TOP BAR

.top {
  display: flex;
  background-color: $color-primary;
  height: 7rem;

  &__left {
    flex: 1;
    font-size: 3.6rem;
    font-weight: 500;
    color: $color-white;
    @include flex;

    @media only screen and (max-width: $tablet-land-lg) {
      justify-content: flex-start;
      margin-left: 2.5rem;
    }
  }

  &__right {
    flex: 4;
    @include flex;
    justify-content: flex-end;
    margin-left: 8rem;

    @media only screen and (min-width: $desktop-lg) {
      flex: 5;
    }

    @media only screen and (max-width: $tablet-land-lg) {
      margin-left: 0rem;
    }
  }
}

.profile-div {
  padding: 0rem 4rem;
}

.profile--top {
  border-radius: 50%;
  height: 4rem;
  cursor: pointer;

  @media only screen and (max-width: $tablet-land-lg) {
    display: none;
  }
}

.search {
  width: 18rem;
  border-radius: .3rem;
  border: none;
  font-size: 1.2rem;
  background-image: url('../img/search.svg');
  background-size: 1.3rem;
  background-position: .8rem .8rem;
  background-repeat: no-repeat;
  padding: .8rem 2rem .8rem 2.8rem;

  @media only screen and (max-width: $tablet-port) {
    display: none;
  }
}




//////////////////////
// SIDEBAR

.side {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: $color-secondary;
  height: 100vh;

  @media only screen and (max-width: $tablet-land-lg) {
    height: auto;
  }

  &__user {
    border-bottom: .3rem solid $color-secondary-light;
    display: flex;
    color: $color-white;
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 2.5rem;
    min-height: 13rem;

    @media only screen and (max-width: $tablet-land-lg) {
      display: none;
    }

    &-left {
      flex: 1;
      @include flex;
      max-height: 13rem;
    }

    &-right {
      flex: 1;
      @include flex;
      justify-content: flex-start;
      max-height: 13rem;
    }
  }
}

.nav {
  font-size: 1.6rem;
  font-weight: 400;

  @media only screen and (max-width: $tablet-land-lg) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .navi {
      flex: 1;
    }
  }


  @media only screen and (max-width: $tablet-port) {
    flex-wrap: wrap;

    .navi {
      min-width: 28rem;
    }
  }

  &__item {
    height: 6rem;
    @include flex;
    justify-content: flex-start;
    transition: background-color .2s;

    &--active {
      height: 6rem;
      @include flex;
      justify-content: inherit;
      background-color: $color-primary;
      color: $color-white;
    }
  }

  &__item:hover {
    background-color: $color-secondary-light;
  }

  &__home {
    background-image: url('../img/home.svg');
    @include icon;

    &--active {
      background-image: url('../img/home-active.svg');
      @include icon;
    }
  }

  &__list {
    background-image: url('../img/list.svg');
    @include icon;

    &--active {
      background-image: url('../img/list-active.svg');
    }
  }

  &__admin {
    background-image: url('../img/edit.svg');
    @include icon;

    &--active {
      background-image: url('../img/edit-active.svg');
      @include icon;
    }
  }

  &__profile {
    background-image: url('../img/user.svg');
    @include icon;

    &--active {
      background-image: url('../img/user--active.svg');
      @include icon;
    }
  }

}


.profile--side {
  border-radius: 50%;
  height: 8rem;
}


//////////////////////
// MAIN

.main {
  flex: 4;
  margin: 4rem;
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: $desktop-lg) {
    flex: 5;
  }

  @media only screen and (max-width: $tablet-land-lg) {
    margin: 2rem;
  }

  &__top {
    display: flex;
    min-height: 5rem;

    @media only screen and (max-width: $tablet-land-sm) {
      flex-direction: column;
      min-height: 10rem;
      margin-bottom: 1rem;
    }

    @media only screen and (max-width: $tablet-land-sm) {
      margin-bottom: 2rem;
    }

    @media only screen and (max-width: 576px) {
      display: none;
    }
  }



  ///////////////////////
  // PAGINATION

  &__pag {
    display: flex;
    margin-top: 2.5rem;
    justify-content: center;

    a {
      color: black;
      padding: .6rem 1.2rem;
      text-decoration: none;
      border: .1rem solid $color-grey;
      margin: 0 .6rem;
      font-size: 1.6rem;
      font-weight: 400;
      transition: border-color .2s;

      &.active {
        background-color: $color-primary;
        color: $color-white;
      }

      &:hover:not(.active) {
        border-color: $color-primary;
      }
    }

    .arrow-left {
      background-image: url('../img/chevron-left.svg');
      @include chevron;
    }

    .arrow-right {
      background-image: url('../img/chevron-right.svg');
      @include chevron;
    }
  }
}


//////////////////////
// DROPDOWNS SECTION

.dropdowns {
  display: flex;
  flex: 3;

  &__box {
    flex: 1;
    position: relative;
  }

  @media only screen and (min-width: $desktop-lg) {
    padding-right: 25rem;
  }
}

//////////////////////
// BUTTONS SECTION

.buttons {
  display: flex;
  flex: 2;

  &__box {
      display: flex;
      flex: 1;
      justify-content: flex-end;
      position: relative;

      @media only screen and (max-width: $tablet-land-sm) {
        justify-content: center;
      }


      .btn {
          background-color: $color-primary;
          border: none;
          color: white;
          padding: 1rem 1rem;
          font-size: 1.6rem;
          font-weight: 400;
          cursor: pointer;
          display: flex;
          border-radius: .3rem;
          width: 90%;
          transition: background-color .2s;
          position: absolute;

          @media only screen and (max-width: $tablet-land-sm) {
            width: 20rem;
            padding: 1.5rem 1.5rem;
          }
      }

      .btn:hover {
          background-color: $color-primary-dark;
      }

      .plus {
        width: 1.6rem;
        margin-right: .8rem;
      }
  }
}


//////////////////////
// TABLE

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 1.6rem;

  tr {
    & + tr {
      margin-top: 1.5em;
    }
  }

  th {
    background-color: #eee;
    font-weight: bold;
    border: .1rem solid $color-grey;
    line-height: 1.5;
    height: 3.5rem;
    width: 10rem;
    text-align: center;
    color: $color-white;
    background-color: $color-secondary;
    font-weight: 500;
  }

  .short {
    width: 5rem;
    background-color: $color-grey-dark;
  }

  .svg {
    width: 1.8rem;
    cursor: pointer;
  }

  td {
    border: .1rem solid $color-grey;
    height: 3.5rem;
    text-align: center;
    font-weight: 400;
  }
}



// TABLE RESPONSIVE

@media only screen and (max-width: $tablet-port) {
	table, thead, tbody, th, td, tr {
		display: block;
	}

	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr {

  }

	td {
		border: none;
		position: relative;
		padding-left: 50%;
    padding-top: .6rem;
    margin-bottom: -.1rem;
    font-weight: 400;
	}

	td:before {
		position: absolute;
		top: .6rem;
		left: .6rem;
		width: 45%;
		padding-right: 1rem;
		white-space: nowrap;
	}


	td:nth-of-type(1):before {
    content: "Mjesto";
    @include table;
  }
	td:nth-of-type(2):before {
    content: "Benzinska";
    @include table;
  }
	td:nth-of-type(3):before {
    content: "Gorivo";
    @include table;
  }
	td:nth-of-type(4):before {
    content: "Cijena";
    @include table;
  }
	td:nth-of-type(5):before {
    content: "Uredi";
    @include table;
  }
	td:nth-of-type(6):before {
    content: "Izbriši";
    @include table;
  }
}



//////////////////////
// DROPDOWN

.dropdown {
  position: absolute;

  @media only screen and (max-width: $tablet-land-sm) {
    display: none;
  }

  &__items {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 12rem;
    z-index: 1000;
  }

  &__item {
    background: #f6f6f6;
    color: #000;
    border-bottom: .1rem solid #ccc;
  }

  &__link {
    display: block;
    color: #000 !important;
    background: #fff !important;

    &:hover {
      display: block;
      background: $color-grey-light !important;
    }
  }

  &__drop {
    font-weight: bold;
    float: left;
    width: 12rem;
    position: relative;
    background: $color-white;
    border: .1rem solid $color-grey;

    &__link {
      position: relative;

      // ARROW

      &:after {
        content:"";
        position: absolute;
        right: 1rem;
        top: 45%;
        border-left: .5rem solid transparent;
        border-top: .5rem solid;
        border-right: .5rem solid transparent;
        z-index: 999;
      }

      &:hover:after{
        content:"";
        border-left: .5rem solid transparent;
        border-right: .5rem solid transparent;
      }
    }
  }
}

.edit {
  display: block;
  padding: .8rem 1rem;
  color: #000;
  position: relative;
  z-index: 2000;

  text-decoration: none;
  font-weight: 400;
  font-size: 1.6rem;

  &:hover, &.hover {
    background: $color-grey-light;
    position: relative;
  }
}

.range {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  width: 4.2rem;
  padding: .8rem 1rem;
}

.submit-box {
  margin-top: .5rem;
}
