.main {
  padding: 3rem;

  @media only screen and (max-width: $tablet-land-lg) {
    padding: 2rem;
  }

  &__top {
    padding-bottom: 1.5rem;
    @media only screen and (max-width: $tablet-land-sm) {
      min-height: 10rem;
      margin-bottom: 1rem;
    }
    @media only screen and (max-width: $tablet-land-sm) {
      padding-bottom: 1rem;
    }
    @media only screen and (max-width: $mobile) {
      height: 10rem;
    }

    &__dropdowns {
      @media only screen and (max-width: $mobile) {
        display: none;
      }
    }

    &__buttons {
      @media only screen and (max-width: $tablet-land-sm) {
        margin-top: 2rem;
        text-align: center;
      }

      @media only screen and (max-width: $mobile) {
        display: none;
      }

      &--canvas {
        margin: 14rem 0;
      }

      &__box {
        height: 3.7rem;
        display: inline-block;
        float: right;

        @media only screen and (max-width: $tablet-land-sm) {
          float: none;
        }
      }
    }
  }

  &__pag {
    text-align: center;
    margin-top: 2.5rem;
    z-index: 2;

    a {
      color: black;
      padding: 0.6rem 1.2rem;
      text-decoration: none;
      border: 0.1rem solid $color-grey;
      margin: 0 0.6rem;
      font-size: 1.6rem;
      font-weight: 400;
      transition: border-color 0.2s;

      &.active {
        background-color: $color-primary;
        color: $color-white;
      }

      &:hover:not(.active) {
        border-color: $color-primary;
      }

      &:first-child {
        background-image: url("../img/chevron-left.svg");
        @include chevron;

        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
           background-image: url("../img/chevron-left.png");
        }
      }

      &:last-child {
        background-image: url("../img/chevron-right.svg");
        @include chevron;

        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
           background-image: url("../img/chevron-right.png");
        }
      }
    }
  }
}
