.side {
  background-color: $color-secondary;
  height: 100vh;

  @media only screen and (max-width: $tablet-land-lg) {
    height: auto;
  }

  &__user {
    border-bottom: 0.3rem solid $color-secondary-light;
    min-height: 13rem;

    @media only screen and (max-width: $tablet-land-lg) {
      display: none;
    }

    &__left {
      float: left;
      max-height: 13rem;
      padding-left: 3rem;
      padding-top: 2.5rem;

      img {
        border-radius: 50%;
        height: 8rem;
      }
    }

    &__right {
      float: left;
      color: $color-white;
      font-size: 2.4rem;
      font-weight: 300;
      line-height: 2.5rem;
      padding-left: 3rem;
      max-height: 13rem;
      padding-top: 4rem;

      @media only screen and (max-width: $desktop-lg) {
        padding-left: 1.3rem;
        font-size: 2.2rem;
      }
    }
  }

  &__nav {
    .nav {
      font-size: 1.6rem;
      font-weight: 400;

      @media only screen and (max-width: $tablet-port) {
        width: 100%;
        background-color: $color-secondary;
        height: 0;
        transition: all .3s ease-in-out;
        z-index: 20;

        &.active {
          height: 24rem;
        }
      }

      @media only screen and (max-width: $mobile) {
        position: absolute;
      }

      &__link {
        @media only screen and (max-width: $tablet-port) {
          height: 0;
          opacity: 0;
          transition: all .3s ease-in-out;

          &.active {
            height: 6rem;
            opacity: 1;
          }
        }
      }

      &__item {
        height: 6rem;
        padding-top: 2.05rem;
        transition: background-color 0.2s;

        @media only screen and (max-width: $tablet-port) {
          display: none;

          &.active {
            display: block;
          }
        }

        &:hover {
          background-color: $color-secondary-light;
        }

        &--active {
          height: 6rem;
          padding-top: 2.05rem;
          background-color: $color-primary;
          color: $color-white;

          @media only screen and (max-width: $tablet-port) {
            display: none;

            &.active {
              display: block;
            }
          }
        }

        &__home {
          background-image: url("../img/home.svg"), url("../img/home.png");
          @include icon;

          &--active {
            background-image: url("../img/home-active.svg"), url("../img/home-active.png");
            @include icon;
          }
        }

        &__list {
          background-image: url("../img/list.svg"), url("../img/list.png");
          @include icon;

          &--active {
            background-image: url("../img/list-active.svg"), url("../img/list-active.png");
            @include icon;
          }
        }

        &__admin {
          background-image: url("../img/edit.svg"), url("../img/edit.png");
          @include icon;

          &--active {
            background-image: url("../img/edit-active.svg"), url("../img/edit-active.png");
            @include icon;
          }
        }

        &__profile {
          background-image: url("../img/user.svg"), url("../img/user.png");
          @include icon;

          &--active {
            background-image: url("../img/user--active.svg"), url("../img/user--active.png");
            @include icon;
          }
        }
      }
    }
  }
}
