.side {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: $color-secondary;
  height: 100vh;
  @media only screen and (max-width: $tablet-land-lg) {
    height: auto;
  }

  &__user {
    border-bottom: 0.3rem solid $color-secondary-light;
    display: flex;
    color: $color-white;
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 2.5rem;
    min-height: 13rem;
    @media only screen and (max-width: $tablet-land-lg) {
      display: none;
    }

    &__left {
      flex: 1;
      @include flex;
      max-height: 13rem;

      img {
        border-radius: 50%;
        height: 8rem;
      }
    }

    &__right {
      flex: 1;
      @include flex;
      justify-content: flex-start;
      max-height: 13rem;
    }
  }

  &__nav {
    .nav {
      font-size: 1.6rem;
      font-weight: 400;

      @media only screen and (max-width: $tablet-land-lg) {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }

      @media only screen and (max-width: $tablet-port) {
        display: block;
        height: 0;
        transition: all .3s ease-in-out;

        &.active {
          height: 24rem;
        }
      }

      @media only screen and (max-width: $mobile) {
        position: absolute;
        width: 100%;
        background-color: $color-secondary;
        z-index: 20;
      }

      &__link {
        @media only screen and (max-width: $tablet-land-lg) {
          flex: 1;
        }
      }

      &__item {
        height: 6rem;
        @include flex;
        justify-content: flex-start;
        transition: background-color 0.2s;

        @media only screen and (max-width: $tablet-port) {
          height: 0;
          opacity: 0;
          transition: all .3s ease-in-out;

          &.active {
            height: 6rem;
            opacity: 1;
          }
        }

        &:hover {
          background-color: $color-secondary-light;
        }

        &--active {
          height: 6rem;
          @include flex;
          justify-content: inherit;
          background-color: $color-primary;
          color: $color-white;

          @media only screen and (max-width: $tablet-port) {
            height: 0;
            opacity: 0;
            transition: all .3s ease-in-out;

            &.active {
              height: 6rem;
              opacity: 1;
            }
          }
        }

        &__home {
          background-image: url("../img/home.svg");
          @include icon;

          &--active {
            background-image: url("../img/home-active.svg");
            @include icon;
          }
        }

        &__list {
          background-image: url("../img/list.svg");
          @include icon;

          &--active {
            background-image: url("../img/list-active.svg");
          }
        }

        &__admin {
          background-image: url("../img/edit.svg");
          @include icon;

          &--active {
            background-image: url("../img/edit-active.svg");
            @include icon;
          }
        }

        &__profile {
          background-image: url("../img/user.svg");
          @include icon;

          &--active {
            background-image: url("../img/user--active.svg");
            @include icon;
          }
        }      
      }
    }
  }
}
