.top {
  background-color: $color-primary;
  height: 7rem;

  &__left {
    &__brand {
      margin-top: 1.35rem;
      font-size: 3.6rem;
      font-weight: 500;
      color: $color-white;
      float: left;
      margin-left: 3rem;

      @media only screen and (max-width: $tablet-land-lg) {
        text-align: left;
        margin-left: 2rem;
      }
    }

    @media only screen and (max-width: $tablet-port) {
      .hamburger {
        &::after {
          font-family: fontawesome;
          content: "\f0c9";
          color: #fff;
          font-size: 3rem;
          position: absolute;
          top: 2rem;
          right: 2.5rem;
          cursor: pointer;
        }
      }
    }

    img {
      float: left;
      width: 5rem;
      margin-top: 1.8rem;
      margin-left: 1.5rem;

      @media only screen and (max-width: $mobile) {
        display: none;
      }
    }
  }

  &__right {
    &__search {
      float: right;
      margin-top: 2rem;
      width: 18rem;
      border-radius: 0.3rem;
      border: none;
      font-size: 1.2rem;
      background-image: url("../img/search.svg"), url("../img/search.png");
      background-size: 1.3rem;
      background-position: 0.8rem 0.8rem;
      background-repeat: no-repeat;
      padding: 0.8rem 2rem 0.8rem 2.8rem;

      @media only screen and (max-width: $tablet-port) {
        display: none;
      }
    }

    &__profile {
      float: right;
      margin: 1.5rem 3rem 0 3rem;

      @media only screen and (max-width: $tablet-land-lg) {
        margin: 1.5rem 2rem 0 3rem;
      }

      @media only screen and (max-width: $tablet-port) {
        display: none;
      }

      img {
        border-radius: 50%;
        height: 4rem;
        cursor: pointer;
      }
    }
  }
}
