body {
  font-family: 'Roboto', sans-serif;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
   -moz-appearance: textfield;
}

input[type=submit] {
  padding: 0.5rem 1rem;
  background-color: $color-white;
  border: 0.1rem solid $color-grey;
  cursor: pointer;
  border-radius: .2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $color-grey;
}
